DATABRICKS_HOST = ""
DATABRICKS_CLUSTER_ID = ""
DATABRICKS_TOKEN = ""

OPENAI_API_KEY = "" # Needed only for openAI models
MODEL_NAME = "h2ogpt-sql-sqlcoder-34b-alpha" # Others: e.g. gpt-4, gpt-4-32k, text-davinci-003
QUANT_TYPE = '4bit'
H2O_BASE_MODEL_URL = 'http://38.128.233.247'
H2O_BASE_MODEL_API_KEY = ""
RECOMMENDATION_MODEL_REMOTE_URL = ""
RECOMMENDATION_MODEL_API_KEY = ""
